<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Water</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="water-content">
  <div class="page">
    <div class="stats">
      <div class="amount">
        <span class="value">{{ water.cups() }}</span>
        <span class="unit">/{{ water.goal }} cups</span>
      </div>

      <div class="goal-card">
        <ion-icon name="flag-outline"></ion-icon>
        <span>Goal: {{ water.goal }} cups · {{ water.percent() }}%</span>
      </div>
    </div>

    <div class="sea" [style.height.%]="water.seaHeight()"></div>

    <div class="actions">
      <ion-button
        expand="block"
        shape="round"
        class="drink-btn"
        (click)="water.addCup()"
      >
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Drink a cup
      </ion-button>
    </div>
  </div>
</ion-content>
