<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> AquaAlert </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AquaAlert </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="greeting">
    <h1>Recomendações diárias</h1>
    <p>Para você se sentir bem hoje.</p>
  </div>

  <ion-grid>
    <ion-row>
      @for (action of quickActions; track action.label) {
      <ion-col size="6">
        <quick-action-card
          [icon]="action.icon"
          [label]="action.label"
          [color]="action.color"
          [routerLink]="action.routerLink"
        ></quick-action-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
